:root {
  --yellow: #FACE14;
  --mint: #CFFDE1;
  --green: #495E57;
  --nature: rgb(73,94,87,74%);
  --red: #721817;
}

* {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1 {
  color: var(--yellow);
}

h2 {
  color: white;
}

/* p {
  color: white;
} */

button {
  background-color: var(--yellow);
  border-radius: 20px;
  padding: 5px 25px;
}
/**************************** Header *********************************/
header {
  text-align: center;
}

/* header img {
  margin: 0.3rem;
  width: 6rem;
  height: 6rem;
} */

/**************************** Navbar *********************************/
/* nav {
 background-color: var(--nature);
 margin: 1rem;
} */

nav img {
  margin: 0.3rem;
  width: 5rem;
  height: 5rem;
}

nav ul {
  list-style-type: none;
  display: flex;
  justify-content: space-around;

}

.nav-link{
  font-size: 1.3rem;
  font-weight: 500;
  padding: 0.5rem;
  color: var(--yellow) !important;
}

/**************************** HOME *********************************/

/********** hero Section **********/
.hero-section {
  display: flex;
  justify-content: space-between;
  padding: 5vmax;
  background-color: var(--green);
}

.hero-section p {
  color: white;
}

.image img {
  width: 20vmax;
  height: 20vmax;
}

/********** Highlights **********/

.highlights {
  margin: 5vmax;
}

.highlights h2 {
   margin: 2vmax 0;
}

.cards {
  display: flex;
  justify-content: space-between;
}

.card {
   width: 20rem;
}

.card img {
  width: 20rem;
  height: 20rem;
  object-fit: cover;
}

/*********** Testimonial ********************/
.row {
  margin: 0 5vmax;
}

.card {
  width: 20vmax;
  height: 100%;
}

.testimonial-card .card-up {
  background-color: yellow;
  height: 60px;
  overflow: hidden;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}
.testimonial-card .avatar {
  margin-top: -60px;
  overflow: hidden;
  border: 3px solid #fff;
  border-radius: 50%;
}

/********** About **********/
.about-section {
  display: flex;
  justify-content: space-between;
  margin: 5vmax;
}

.image-stack {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  position: relative;
}

.image-stack img {
  display: block;
  width: 25vmax;
  height: 25vmax;
}

.aboutImg1{
  grid-column: 4 / -1;
  grid-row: 1;
}

.aboutImg2 {
  grid-row: 1;
  grid-column: 1 / span 8;
  padding-top: 20%; 
  z-index: 1;
}

/* .image {
  position: relative;
} */

/* .aboutImg1 {
  position: relative;
  top: 50px;
  z-index: 2;
} */


/**************************** Main *********************************/
/* .banner {
    display: grid;
    grid-template-columns: repeat(2,500px);
    justify-content: center;
} */

.main {
  text-align: center;
  width: 50%;
  height: 100%;
  margin: 3rem auto;
  padding: 1rem;
  border-radius: 20px;
  box-shadow: 10px 10px 20px 12px var(--nature);
}

.main form div {
  display: flex;
  margin: 25px 0;
  justify-content: center;
}

.main div label {
  margin: 0 15px;
  font-weight: 500;
  font-size: 20px;
}


.btnBookNow:hover {
  background-color: var(--red);
}



/**************************** Footer *********************************/
.footer {
  padding: 5vmax;
  display: flex;
  justify-content: space-between;
  background-color: var(--nature);
}

.footer img {
  height: 100%;
  width: 100%;
}


/**************************** Success *********************************/
.success {
  text-align: center;
  padding: 7vw;
}

.success h2 {
  color: var(--red);
}

.success p {
  color: var(--green);
}


@media only screen and (max-width: 600px) {
 .cards {
  flex-direction: column;
 }

 .card {
  width: 25rem;
}

.card img {
 width: 20rem;
 height: 20rem;
 object-fit: cover;
}

.footer {
  flex-direction: column;
}

.footer img {
  height: 50%;
  width: 50%;
}

}